* {
  padding: 0;
  margin: 0;
}

.content-contact {
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 140px;
}
.test-center p {
  font-weight: 500;
}
.content input {
  height: 20px;
  border: none;
  border-bottom: solid 2px white;
}
